html {
  font-size: 14px;
}

.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.oper-table{
  display: table;
  width: 100%;
}
.oper-row {
  display: table-row;
}
.oper-head {
  background-color: #EEE;
  display: table-cell;
  padding: 5px 3px;
  white-space:nowrap;
  overflow: hidden;
}
.oper-cell {
  border: 1px solid #999999;
  display: table-cell;
  padding: 2px 10px;
}

.oper-foot {
  display: table-cell;
}

.ignored-oper {
  opacity: 0.5;
  height: 10px;
}

.oper-desc {
  width: 600px;
  font-size: 13px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oper-amount {
  font-weight: bold;
}

.oper-amount.positive {
  color: forestgreen;
}

.oper-amount.negative {
  color: red;
}

.oper-groups {
  margin-top: 30px;
  margin-bottom: 15px;
}

.icons {
  font-family: "Times New Roman", monospace;
  padding-left: 3px;
  padding-right: 3px;
}

.icon {
  padding: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oper-date {
  white-space: nowrap;
  text-align: center;
}