html {
  font-size: 12px;
  font-family: "Tahoma", sans-serif;
}

.content {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

#chartWrap {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.oper-table{
  display: table;
  width: 100%;
}
.oper-row {
  display: table-row;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.oper-row-last {
  margin-top: 30px;
}
.oper-head {
  background-color: #EEE;
  display: table-cell;
  padding: 5px 3px;
  white-space:nowrap;
  overflow: hidden;
  border-bottom: 1px solid #999999;
}
.oper-cell {
  border-bottom: 1px solid #999999;
  border-right: 1px solid #999999;
  display: table-cell;
  padding: 2px 10px;
}

.oper-cell-last {
  border-right: none;
}

.oper-foot {
  display: table-cell;
}

.ignored-oper {
  /*opacity: 0.5;*/
  text-decoration: line-through;
  height: 10px;
}

.oper-type {
  width: 120px;
  text-align: center;
}

.oper-desc {
  width: 600px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oper-amount {
  font-weight: bold;
}

.oper-amount.positive {
  color: forestgreen;
}

.oper-amount.negative {
  color: red;
}

.oper-do {
  color: forestgreen;
}

.oper-undo {
  color: red;
}

.oper-left-flower {
    position: fixed;
    top: 30px;
    left: 10px;
}

.oper-groups {
  margin-top: 10px;
  margin-bottom: 15px;
}

.oper-group {
  padding: 2px 10px;
}

.oper-group-label {
  display: inline-block;
  line-height: 26px;
  vertical-align: middle;
}

.oper-group-buttons {
  float: right;
}

.oper-group-color-picker {
  display: inline-block;
  vertical-align: middle;
}

.oper-group-color-picker input {
  display: none;
}

.icons {
  font-family: "Times New Roman", monospace;
  padding-left: 3px;
  padding-right: 3px;
}

.icon {
  padding: 2px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oper-date {
  white-space: nowrap;
  text-align: center;
}

.clear {
  clear: both;
}

.color-box {
  display:inline-block;
  width:20px;
  height:20px;
  cursor:pointer;
  border: 1px solid #000000;
}

.oper-group-line {
  margin-top: 15px;
}