<!DOCTYPE html>
<html ng-app="PKOCM" xmlns="http://www.w3.org/1999/html">
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/xml2json.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/chart.min.js"></script>
    <script src="js/lib/color-picker.min.js"></script>
    <script src="js/app.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/color-picker.min.css" type="text/css" rel="stylesheet">
  </head>

  <body ng-controller="MainController">
    <div class="content">
      <div id="chartWrap">
        <canvas id="chart"></canvas>
      </div>

      <div class="oper-left-flower">
        <div>Pogrupuj operacje</div>
        <form class="new-group" ng-submit="createGroup()">
          <label for="newGroupNameI">Nazwa grupy: </label>
          <input id="newGroupNameI" type="text" ng-model="newGroupName" ng-required="true"/>
          <input type="submit" title="Stwórz nową grupę z wybranych operacji" value="Stwórz"/>
        </form>
        <hr ng-if="groups.length" class="oper-group-line">
        <div class="oper-groups">
        <div class="oper-group" ng-repeat="group in groups" ng-style="{background: group.color}">
          <div class="oper-group-label">{{ group.name }} [<span title="Liczba operacji w grupie">{{group.operations.length}}</span>] ({{ groupSum(group) }} PLN)</div>
          <div class="oper-group-buttons">
            <button ng-click="ignoreGroup(group)">Ignoruj</button>
            <div class="oper-group-color-picker" title="Zmień kolor grupy">
              <input ng-model="group.color" color-picker>
            </div>
          </div>
          <div class="clear"></div>
        </div>
      </div>

        <div class="oper-sum">
           Całkowity balans: {{ amountSum() }} PLN
        </div>
      </div>

      <div class="oper-search-panel">
        <div class="oper-desc-search">
          Szukaj w opisie:
          <input type="text" ng-model="byDescription"/>
          <a href="#" ng-click="byDescription=undefinied" title="Wyczyść wpisaną frazę szukania">Wyczyść</a>
        </div>

        <div class="oper-amount-search">
          Kwota od:
          <input type="text" ng-model="minAmount" id="minAmountInput"/>
          Kwota do:
          <input type="text" ng-model="maxAmount" id="maxAmountInput"/>
        </div>

        <div class="oper-date-search">
          Data początkowa:
          <input type="date" ng-model="minDate" id="minDateInput"/>
          Data końcowa:
          <input type="date" ng-model="maxDate" id="maxDateInput"/>
        </div>

        <div class="oper-counter">
          Operacji: {{ operations.length }}
        </div>
      </div>

      <div class="oper-table">
        <div class="oper-row">
          <div class="oper-head"> Data wykonania </div>
          <div class="oper-head"> Data zlecenia </div>
          <div class="oper-head"> Typ operacji </div>
          <div class="oper-head"> Opis operacji
            <span class="icons">
              <span class="icon" title="Rozwiń/zwiń wszystkie opisy">&#8661;</span> <!--todo-->
            </span>
          </div>
          <div class="oper-head"> Wartość (zł) </div>
          <div class="oper-head"> Saldo (zł) </div>
          <div class="oper-head"> Ignoruj </div>
          <div class="oper-head"> Wybierz
            <span class="icons">
              <span class="icon oper-do" title="Wybierz wszystkie" ng-click="markFiltred()">&#8942;</span> <!--todo-->
              <span class="icon oper-undo" title="Odznacz wszystkie" ng-click="unmarkFiltred()">&#8942;</span> <!--todo-->
            </span>
          </div>
        </div>

        <div ng-repeat="operation in (filteredOpers = (operations | filter:searchFilter(byDescription, minAmount, maxAmount, minDate, maxDate) ))" ng-class="{'ignored-oper': operation.ignored}" class="oper-row" ng-style="{'background-color': operation.group.color}">
          <div class="oper-cell oper-date">{{ operation['exec-date'] }}</div>
          <div class="oper-cell oper-date">{{ operation['order-date'] }}</div>
          <div class="oper-cell oper-type">{{ operation.type }}</div>
          <div class="oper-cell oper-desc" ng-click="switchLimit(operation)" title="Rozwiń/zwiń opis">{{ operation.description | limitTo: (operation.descLimit) }}</div>
          <div class="oper-cell oper-amount" ng-class="{'positive': operation.amount > 0, 'negative': operation.amount < 0}">{{ operation.amount.__text }}</div>
          <div class="oper-cell">{{ operation['ending-balance'].__text }}</div>
          <div class="oper-cell">
            <input type="checkbox" ng-model="operation.ignored" ng-click="ignoredChange(operation)"/>
          </div>
          <div class="oper-cell oper-cell-last">
            <input type="checkbox" ng-model="operation.marked"/>
          </div>
        </div>

        <div class="oper-row">
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
        </div>
        <div class="oper-row-last"></div>
      </div>
    </div>
    <script src="js/non_ang.js"></script>
  </body>
</html>