<!DOCTYPE html>
<html ng-app="PKOCM" xmlns="http://www.w3.org/1999/html">
  <head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/lib/jquery-3.3.1.min.js"></script>
    <script src="js/lib/xml2json.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/chart.min.js"></script>
    <script src="js/lib/color-picker.min.js"></script>
    <script src="js/app.js"></script>
    <link href="css/style.css" type="text/css" rel="stylesheet">
    <link href="css/color-picker.min.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/solid.css" integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css" integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
  </head>

  <body ng-controller="MainController">
    <div class="content">
      <div id="chartWrap">
        <canvas id="chart"></canvas>
      </div>

      <div id="oper-left-flower">
        <div>Pogrupuj operacje</div>
        <form class="new-group" ng-submit="createGroup()">
          <label for="newGroupNameI">Nazwa grupy: </label>
          <input id="newGroupNameI" type="text" ng-model="newGroupName" ng-required="true"/>
          <input type="submit" title="Stwórz nową grupę z wybranych operacji" value="Stwórz"/>
        </form>
        <div class="oper-groups">
        <div class="oper-group" ng-repeat="group in groups" ng-style="{background: group.color}">
          <div class="oper-group-label">{{ group.name }} [<span title="Liczba operacji w grupie">{{group.operations.length}}</span>] ({{ groupSum(group) }} PLN)</div>
          <div class="oper-group-buttons icons-wrap">
            <i class="far fa-check-square" title="Zaznacz" ng-click="checkGroup(group)"></i>
            <i class="fas fa-check-square" title="Odznacz" ng-click="uncheckGroup(group)"></i>
            <i class="far fa-times-circle" title="Ignoruj" ng-click="ignoreGroup(group)"></i>
            <i class="fas fa-times-circle" title="Nie ignoruj" ng-click="unignoreGroup(group)"></i>
            <div class="oper-group-color-picker" title="Zmień kolor grupy">
              <input ng-model="group.color" color-picker>
            </div>
            <i class="fas fa-trash-alt" title="Usuń" ng-click="deleteGroup(group)"></i> <!--todo-->
          </div>
          <div class="clear"></div>
        </div>
      </div>

        <div class="oper-sum">
           Całkowity balans: {{ amountSum() }} PLN
        </div>
      </div>

      <div class="oper-search-panel">
        <div class="oper-date-search">
          <div class="oper-min-date">
            <label for="minDateInput">Data początkowa:</label>
            <input type="date" ng-model="minDate" id="minDateInput"/>
            <i class="fas fa-backspace" title="Wyczyść wartość" ng-click="clear('minDate')"></i>
          </div>
          <div class="oper-max-date">
            <label for="maxDateInput">Data końcowa:</label>
            <input type="date" ng-model="maxDate" id="maxDateInput"/>
            <i class="fas fa-backspace" title="Wyczyść wartość" ng-click="clear('maxDate')"></i>
          </div>
        </div>

        <div class="oper-type-search">
          <label for="typeQuerySel">Typ operacji:</label>
          <select multiple ng-model="typeQuery" id="typeQuerySel">
            <option value="" ng-click="typeQuery=['']">Wszystkie typy</option>
            <option value="Płatność kartą">Płatność kartą</option>
            <option value="Przelew z rachunku">Przelew z rachunku</option>
            <option value="Przelew na rachunek">Przelew na rachunek</option>
            <option value="Wypłata z bankomatu">Wypłata z bankomatu</option>
          </select>
        </div>

        <div class="oper-desc-search">
          <label for="byDescriptionInput">Szukaj w opisie:</label>
          <input type="text" ng-model="byDescription" id="byDescriptionInput"/>
        </div>

        <div class="oper-amount-search">
          <div class="oper-min-amount">
            <label for="minAmountInput">Kwota od:</label>
            <input type="text" ng-model="minAmount" id="minAmountInput"/>
          </div>
          <div class="oper-max-amount">
            <label for="maxAmountInput">Kwota do:</label>
            <input type="text" ng-model="maxAmount" id="maxAmountInput"/>
          </div>
        </div>

        <div class="oper-counter">
          Operacji: {{ operations.length }}
        </div>
      </div>

      <div class="oper-table">
        <div class="oper-row">
          <div class="oper-head head-icons">
            <span class="icons-wrap">
              <i class="far fa-check-square" title="Zaznacz wszystkie" ng-click="markFiltred()"></i>
              <i class="fas fa-check-square" title="Odznacz wszystkie" ng-click="unmarkFiltred()"></i>
            </span>
          </div>
          <div class="oper-head head-icons">
            <span class="icons-wrap">
              <i class="far fa-times-circle" title="Ignoruj wszystkie" ng-click="ignoreFiltred()"></i>
              <i class="fas fa-times-circle" title="Nie ignoruj wszystkich" ng-click="unignoreFiltred()"></i>
            </span>
          </div>
          <div class="oper-head head-exec-date"> Data wykonania </div>
          <div class="oper-head head-order-date"> Data zlecenia </div>
          <div class="oper-head head-type"> Typ operacji </div>
          <div class="oper-head head-desc"> Opis operacji
            <span class="icons">
              <span class="icon" title="Rozwiń/zwiń wszystkie opisy">&#8661;</span> <!--todo-->
            </span>
          </div>
          <div class="oper-head head-amount"> Wartość (zł) </div>
          <div class="oper-head head-balance"> Saldo (zł) </div>
        </div>

        <div ng-repeat="operation in (filteredOpers = (operations | filter:searchFilter(byDescription, minAmount, maxAmount, minDate, maxDate, typeQuery) ))" ng-class="{'ignored-oper': operation.ignored}" class="oper-row" ng-style="{'background-color': operation.group.color}">
          <div class="oper-cell">
            <input type="checkbox" ng-model="operation.marked"/>
          </div>
          <div class="oper-cell">
            <input type="checkbox" ng-model="operation.ignored" ng-click="ignoredChange(operation)"/>
          </div>
          <div class="oper-cell oper-exec-date">{{ operation['exec-date'] }}</div>
          <div class="oper-cell oper-order-date">{{ operation['order-date'] }}</div>
          <div class="oper-cell oper-type">{{ operation.type }}</div>
          <div class="oper-cell oper-desc" ng-click="switchLimit(operation)" title="Rozwiń/zwiń opis">{{ operation.description | limitTo: (operation.descLimit) }}</div>
          <div class="oper-cell oper-amount" ng-class="{'positive': operation.amount > 0, 'negative': operation.amount < 0}">{{ operation.amount.__text }}</div>
          <div class="oper-cell oper-balance oper-cell-last">{{ operation['ending-balance'].__text }}</div>
        </div>

        <div class="oper-row">
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
          <div class="oper-foot"></div>
        </div>
        <div class="oper-row-last"></div>
      </div>
    </div>
  </body>
</html>